* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #202124;
    /*padding: 14px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: right;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px; */
}

/* nav, */ 
section {
    display: flex;
    align-items: center;
    gap: 14px;
}


header section img {
    max-width: 35px;
    border-radius: 50%;
}

header section img:hover {
    border: 4px solid lightgrey;
}

.blackLink {
    color: black;
}

/*
.greyLink {
    color: lightgrey;
}
*/

a {
    text-decoration: unset;
    font-size: 0.8em;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 14px;
}

/*
.headerText {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
*/

.searchBar {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid lightgrey;
    padding: 14px;
    border-radius: 24px;
    color: black;
}

.searchBar:hover {
    border: 2px solid lightgrey
    
}

.magGlass {
    color: darkgray;
}

.iconButtonContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.iconButton {
    background: transparent;
    border: none;
    color: black;
    font-size: 1.2em;
    cursor: pointer;
}

input {
    background: transparent;
    outline: none;
    border: unset;
    color: black;
    flex: 1;
}

.searchButtonsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.searchButtonsContainer button {
    padding: 10px 14px;
    border-radius: 4px;
    background: #f8f9fa;
    border: 1px solid transparent;
    color: #3c4043;
    cursor: pointer;
}

.searchButtonsContainer button:hover {
    border: 2px solid #e7e5e4;
}

.languageSelection {
    font-size: 0.9em;
}

.languageSelection span {
    color: #1a0dab;
}

footer {
    display: flex;
    flex-direction: column;
}

footer >section {
    background: #e7e5e4;
    padding: 14px;

}

footer > section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid darkgray;
    background: #e7e5e4;
}

.footerLink {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footerLink a {
    cursor: pointer;
}

@media (min-width: 540px) {
    footer > section:last-child {
        flex-direction: row;
    }

}